---
feature_name: Web Bluetooth / BlueRetro
chrome_version: 45
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<div id="divBtConn">
    <button id="btConn">Connect BlueRetro</button>
</div>
<div id="divGlobalCfg" style="display:none;">
    <h2>Global Config</h2>
</div>
<div id="divOutputCfg" style="display:none;">
    <h2>Output Config</h2>
</div>
<div id="divInputCfg" style="display:none;">
    <h2>Input Config</h2>
</div>
<br><br><button id="btGetCfg">Get config</button>
<br><br><button id="listInput">List mapping</button>

{% include output_helper.html %}

{% include js_snippet.html filename='blueretro.js' %}

<script>
  document.getElementById("btConn").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      btConn();
    }
  });
  document.getElementById("btGetCfg").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      btGetCfg();
    }
  });
  document.getElementById("listInput").addEventListener('click', listInput);
</script>

{% include_relative _includes/utils.html %}
