---
feature_name: Web Bluetooth / BlueRetro
chrome_version: 45
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<button>Connect BlueRetro</button>
<br><button>Get config</button>
<br>
<br><div class="input_fields_container_part">
    <div><input type="text" name="tags">
        <button class="btn btn-sm btn-primary add_more_button">Add More Fields</button>
    </div>
</div>
<br><br><button>List field</button>

{% include output_helper.html %}

{% include js_snippet.html filename='blueretro.js' %}

<script>
  document.querySelector('button').addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      onButtonClick();
    }
  });
  document.querySelector("button:nth-of-type(2)").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      onButtonClick2();
    }
  });
  document.querySelector("button:nth-of-type(3)").addEventListener('click', function() {
    onButtonClick4();
  });
  $(document).ready(function() {
    onButtonClick3();
  });
</script>

{% include_relative _includes/utils.html %}
