---
feature_name: Web Bluetooth / BlueRetro
chrome_version: 45
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<div id="divBtConn">
    <button id="btConn">Connect BlueRetro</button>
</div>
<div id="divBtDisconn" style="display:none;margin-bottom:1em;">
    <button id="btDisconn">Disconnect BlueRetro</button>
</div>
<div id="divGlobalCfg" style="display:none;margin-bottom:1em;">
    <h2 style="margin:0;">Global Config</h2>
</div>
<div id="divOutputCfg" style="display:none;margin-bottom:1em;">
    <h2 style="margin:0;">Output Config</h2>
</div>
<div id="divInputCfg" style="display:none;margin-bottom:1em;">
    <h2 style="margin:0;">Input Config</h2>
</div>

{% include output_helper.html %}

<script src="blueretro.js" type="text/javascript"></script>

<script>
  document.getElementById("btConn").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      btConn();
    }
  });
  document.getElementById("btDisconn").addEventListener('click', function() {
    btDisconn();
  });
</script>

{% include_relative _includes/utils.html %}
